<div data-role="view" data-title="Home View" data-layout="main" data-model="app.home" data-show="app.home.onShow">
	<header data-role="header">
		<div data-role="navbar">
			<span data-role="view-title"></span>
			<a data-role="button" data-align="right" data-bind="click: startScan">Scan</a>
		</div>
	</header>
	<ul data-role="listview" data-template="my-template" data-bind="source: devicesDS, click: onClick" ></ul>
	
	<script id="my-template" type="text/x-kendo-template">
		<div>#: name#</div>
	</script>
</div>